<div class="container my-md-4" style="max-width: 768px;">
  <div class="row py-3 py-md-5 d-flex justify-content-center shadow-sm rounded-3 form-wrapper">
    <div class="col-10 col-sm-7 col-md-6 p-0">
      <h4 class="mb-4 fw-bold text-center">行きたいところを追加</h4>
      <%= render "shared/errors", obj: @destination %>
      <%= render "shared/destination_form", destination: @destination %>
    </div>
  </div>
</div>
