body {
  background-color: #F5F6F4
}

.form-wrapper {
  background-color: #fff;
}

.delete-account {
  margin-top: 90px;
  border: 1px solid;
  border-radius: 10px;
}

.delete-account-button {
  text-align: right;
}
